*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
}

#nav-bar{
  background-color: wheat;
  padding: 5px 10px;
}

#book-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.each-book-container{
  flex-basis: 20%;
  text-align: right; /* to align delete btn to right */
  width: 20%;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 5px 10px;
}

.each-book-container h2{
  background-color: wheat;
  color: black;
  text-align: center;
  padding: 0 5px;
  border-radius: 10px;
}

.each-book-container h4{
  text-align: right;
  margin-right: 10px;
}

.each-book-container p{
  font-size: medium;
  text-align: center;
}

.delete-btn{
  background-color: wheat;
  font-size: 12PX;
  margin-top: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.delete-btn:hover{
  background-color: rgb(186, 76, 33);
  color: white;
}

#popup-overlay{
  position: absolute;
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

#popup-box{
  position: absolute;
  padding: 10px;
  top: 20%;
  left: 37%;
  background-color: wheat;
  color: black;
  width: 30%;
  border-radius: 10px;
  height: 230px;
  z-index: 2;
  display: none;
}

#popup-box h4{
  text-align: center;
}

#popup-box input, textarea{
  background-color: wheat;
  color: black;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
}

#popup-box input{
  border: none;
  border-bottom: 2px solid black ;
}

#popup-box textarea{
  border: 2px solid black;
  border-radius: 5px;
}

#popup-box input::placeholder, #popup-box textarea::placeholder{
  color: black;
  padding-left: 10px;
}

#popup-box input:focus, #popup-box textarea:focus{
  outline: none;
}

#popup-box button{
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#add-btn:hover{
  background-color: rgb(33, 186, 71);
  color: white;
}

#cancel-btn:hover{
  background-color: rgb(186, 76, 33);
  color: white;
}

#plus-btn{
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 30px;
  border-radius: 100%;
  padding: 10px 20px;
  background-color: wheat;
  border: none;
}

#plus-btn:hover{
  background-color: rgb(33, 186, 71);
  color: white;
}
