body{
  min-width: 500px;
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 2%;
  top: 10%;
  left: 25%;
  width: 40%;
  height: auto;
  background-color: black;
  color: wheat;
}

#input-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

input{
  padding: 5px;
  width: 80%;
}

#add-btn{
  min-width: 70px;
  font-weight: bold;
}

#content{
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  width:100%;
}

.added-div{
  display: flex;
  justify-content:space-between;
  background-color: wheat;
  color: black;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
}

.delete-btn{
  padding: 0 5px;
  background-color: black;
  color: wheat;
  font-weight: bold;
  min-width: 70px;
  max-height: 40px;
}

.delete-btn:hover{
  background-color: rgb(255, 31, 31);
  color: white;
  /* border: none; */
}

@media (max-width:750px) {
  #content{
    flex-direction: row;
    gap: 1px;
    font-size: 14px;
    transition: 1s;
  }
}